
        body{
            height: 2000px;
        }
        #mainBack{
            height: 100%;
            position: fixed;
            background: black;
            display: flex;

            transition: all 0.5s;
        }
        .container-div{
            height:100%;

            position: relative;
            width: 100%;
            background: red;
            transition: all 0.5s;
        }
        #technical,#cultural,#managerial{

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

       @media only screen and (max-device-width: 800px ) and (min-device-width: 300px) {
           #technical,#managerial,#cultural{
               -moz-background-size: contain;
           }
	    #technical {
		background-image: url("../img/mobile-technical.png");
	    }
            #cultural{
               background-image: url("../img/mobile-cultural.png");
           }
            #managerial{
                background-image: url("../img/mobile-managerial.png");
            }
            .eventclick{
                right: 0px;
            }
        }
        @media screen and (min-width: 1024px) {
	    #technical {
		background-image: url("../img/rocketart-med.png");
	    }
            #cultural{
               background-image: url("../img/cultural-med.png");
           }
            #managerial{
                background-image: url("../img/managerial-med.png");
            }
        }
        @media screen and (min-width: 1920px) {
	    #technical {
		background-image: url("../img/rocketart.png");
	    }
            #cultural{
               background-image: url("../img/cultural-high.png");
           }
            #managerial{
               background-image: url("../img/managerial.png");
           }
        }
